<div class="pdf">
  <div
    class="pdf-container"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
  >
    <div *ngIf="isLoading">Carregando...</div>
    <div class="pdf-wrapper" *ngIf="!isLoading">
      <pdf-viewer
        [src]="pdfSrc"
        [(page)]="currentPage"
        [render-text]="false"
        [original-size]="false"
        [autoresize]="true"
        [show-all]="true"
        style="width: 100%; height: 100%; overflow-y: auto"
       
      ></pdf-viewer>
    </div>

    <!--  <div
      class="signature-container"
      
    > -->
    <div
      #signatureBox
      (mousedown)="onMouseDown($event)"
      *ngIf="!isLoading"
      class="signature-box"
      [style.left.px]="signatureLeft"
      [style.top.px]="signatureTop"
      [style.backgroundImage]="'url(assets/carimbo.png)'"
    >
      {{ signatureBoxPosition }}
    </div>
  </div>
  <!-- </div> -->
  <div class="pdf-infor">
    <button (click)="criarAssinatura()" class="assinar">Assinar</button>
  </div>
</div>
